# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Never ignore Asset meta data
![Aa]ssets/**/*.meta

# VS/VSCode
.vs/
.vscode/
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
